<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<title>Home</title>
<!-- CSS -->
</head>

<body>
  <style>
    #main-footer
    {
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: #2B2B2B;
      text-align: center;
      margin-top: 75px;
      padding: 16px;
      bottom: 8px;
    }
  
  </style>

  <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">

      <a class="navbar-brand mr-4" href="/">Weapon Classifier</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/about">About</a>
          <a class="nav-item nav-link" href="/classify">Classify</a>
        </div>
        <!-- Navbar Right Side -->
      </div>
    </div>
  </nav>
</header>

  <div class= "container">

    <h4>Brief Overview </h4>
    <p>Welcome to the home page of the app.</p>
    <p>Even after the back-to-back mass shootings in Dayton and El Paso, and the fact that a solid majority of Americans support expanded gun control, the issue is at as much of a stalemate as ever. And while a legislative solution may be far off, potential technological solutions are coming to the fore. Enter companies like Aegis AI and Athena Security, new tech firms leveraging artificial intelligence to identify firearms and alert law enforcement within seconds.</p>

<p>While the recent mass shootings seem an obvious application of weapon-detection technology, combating the more frequent gun violence in American cities is likely just as important to law enforcement. Founded by Lisa Falzone and Chris Ciabarra, cofounders of Revel Systems, Athena grew out of a desire to do something good for the world. After growing Revel Systems to a half-billion-dollar valuation, and selling it to a private equity firm, Falzone says that she and Ciabarra grew weary of retirement. Around the time of the Las Vegas and Stoneman Douglas shootings, the two realized that mass shootings were being recorded by cameras and that a layer of artificial intelligence could be added to these systems to yield what Falzone calls an “interactive proactive tool” to fight mass shootings and other gun crimes.</p>
<p> This app presents a vanilla solution to fight with the issue. It can be further extended with the weapon detection system with the algorithms like YOLO and all.</p>
  <h3>Applications</h3>
  <p>Can be used to classify different deadly weapons with further extension to advance algorithms like YOLO for detection purpose.</p>
    <p><b>Developer's Details</b></p>
    <p>Name: Shobhit Srivastava<br>
    Email Id : shobhitsrivastava18th@gmail.com</p>
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
     <footer id="main-footer">
      Copyright &copy; 2020
    </footer>
</body>
</html>